.heder__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19; /* identical to box height */
  letter-spacing: 0.03em;

  &--blu {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    margin-right: 93px;
  }

  &--dark {
    color: var(--main-dark-color);
  }
}

.footer-logo {
  color: var(--main-light-color);
}
