.social__list--team {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link--team {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--svg-baza-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
  }
}

.social__icon--team {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__list--footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social__link--footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-light-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-light-color);
  }
}

.social__icon--footer {
  fill: currentColor;
}
