:root {
   --head-color: #212121; /*колір заголовків і навігації*/
   --text-color: #757575; /*колір вторинного тексту*/
   --accent-color: #2196f3; /*колір акцентів, частини логотипу, фону кнопок*/
   --background-color: #2f303a; /*головний колір підкладки*/
   --main-light-color: #ffffff; /*білий колір*/
   --main-dark-color: #000000; /*чорний колір*/
   --secondary-bgr-color: #f5f4fa; /*другорядний колір підкладки*/
   --border-color: #eeeeee; /*колір рамок на картинках*/
   --secondary-border-color: #ececec; /*другорядний колір рамки*/
   --block-margin: 30px; /*стандартні відступи між блоками*/
   --section-margin: 94px; /*стандартні відступи між секціями*/
   --svg-baza-color: #afb1b8; /* базовий колір svg елементів */
 }
 