.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__wrap--contacts {
    margin-right: 70px;
  }
  &__wrap--social {
    display: block;
    height: 80px;
    justify-content: center;
    margin-right: 93px;
  }
  &__wrap--subscriptipon {
    display: block;
    justify-content: center;
    align-items: center;
  }
}

.footer-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}
